#bayram KARAHAN bayramk@gmail.com
[Desktop Entry]
Type=Application
Name=Set Wallpaper
Exec=/usr/bin/setwallpaper.sh
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5

