#bayram KARAHAN bayramk@gmail.com

[Desktop Entry]
Exec=sh -c 'sleep 1&&/usr/bin/setwallpaper.sh'
Type=Application
Name[tr_TR.UTF-8]=setwallpaper.desktop
Name[tr_TR]=setwallpaper.desktop
