Package: setwallpaper
Version: 4.3
Architecture: all
Depends:dconf-cli
Pre-Depends:
Recommends: 
Maintainer: Bayram Karahan [bayramk@gmail.com]
Conflicts: 
Replaces: 
Provides: setwallpaper
Description: setwallpaper eklentisi
